@mixin router-link-active {
  .router-link-active {
    color: #ef4238;
    border-bottom: 2px solid #ef4238;
  }
}

@mixin swiper_common {
  .swiper-container {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
      align-items: center;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 68px;
        /* Center slide text vertically */
        // margin-right: 20px !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }
  }
}

@mixin img_list($w:68px) {
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;

  h2 {
    font-size: 16px;
    font-weight: 300;
  }

  .casts_list {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    overflow: auto;


    .casts_img:first-child {
      margin-left: 0;
    }
  }

  .casts_img {
    width: $w;
    margin-left: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 100%;
      // height: 90px;
      height: auto;
    }

    span {
      margin-top: 5px;
      text-align: center;
      font-size: 12px;
    }
  }
}

@mixin star_class {
  ul {
    padding-left: 0;
    overflow: hidden;
  }

  ul li {
    float: left;
    list-style: none;
    width: 27px;
    height: 27px;
    // background: url();
  }

  ul li a {
    display: block;
    width: 100%;
    padding-top: 27px;
    overflow: hidden;
  }

  ul li.light {
    background-position: 0 -29px;
  }
}